---
siteName: Game Navigator
---
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>{{siteName}} | {{ title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="/css/style.css">
 </head>
 <body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav-basic.njk" %}
  </header>
  <main class="{{ pageClass }}">{{ content | safe }}</main>

  <section class="footer">
          <figcaption class="caption">
            <p>© 2023 by Game Recommendation</p>
             <a href="https://www.iconfinder.com/search?q=xbox">Xbox icon</a>
             <a href="https://www.iconfinder.com/search?q=PC+Game">PC icon</a>
             <a href="https://www.iconfinder.com/search?q=switch+nintendo">Switch icon</a>
             <a href="https://www.iconfinder.com/search?q=playstation">Playstation icon</a>
             <a href="https://commons.wikimedia.org/wiki/File:Xbox_One_gamepads,_gaming_keyboard_and_mouse.jpg">Banner</a>
             <a href="https://www.wallpaperflare.com/search?wallpaper=gaming+mouse">Pc image</a>
             <a href="https://pixabay.com/photos/controller-gaming-playstation-6092067/">Ps image</a>
             <a href="https://www.ctrl.blog/entry/download-episodic-xbox.html">Xbox image</a>
             <a href="https://www.wallpaperflare.com/close-up-photography-of-nintendo-switch-neon-green-controller-nintendo-switch-gamepad-on-black-top-wallpaper-zturp">switch image</a>
             <a href="https://www.trustedreviews.com/news/god-of-war-system-requirements-here-are-the-pc-specs-you-need-4197243">God of War</a>
             <a href="https://www.flickr.com/photos/158561476@N06/43334413532">Ghost of Tsushima</a>
             <a href="https://www.trustedreviews.com/news/spider-man-remastered-on-ps5-gets-new-movie-inspired-suits-4189649">Spider-Man Remastered</a>
             <a href="https://www.trustedreviews.com/news/halo-infinite-will-be-here-just-in-time-for-christmas-4159892">Halo Infinite</a>
             <a href="https://www.trustedreviews.com/news/forza-horizon-5-release-date-price-trailer-map-and-gameplay-4144788">Forza Horizon 5</a>
             <a href="https://en.wikipedia.org/wiki/Immortality_(video_game)">Immortality</a>
             <a href="https://www.flickr.com/photos/brettchalupa/33477550306">Legend of Zelda: Breath of the Wild</a>
             <a href="https://www.flickr.com/photos/antdude3001/27888712227">Super Smash Bros Ultimate</a>
             <a href="https://www.flickr.com/photos/epredator/50989531011">Animal Crossing</a>
             <a href="https://www.flickr.com/photos/sobcontrollers/3711433740">World of Warcraft</a>
             <a href="https://en.wikipedia.org/wiki/EverQuest">Everquest</a>
             <a href="https://www.flickr.com/photos/duncan/1805849918">Half-life: Alyx</a>
             <a href="https://www.hippopx.com/en/gaming-mouse-keyboard-monitor-night-computer-technology-467460">about</a>
          </figcaption>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!--    Load Local version if CDN is not working-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.6.3.min.js"><\/script>')</script>
    <!-- Site JavaScript file -->
  <script src="/js/icon.js"></script>
 </body>
</html>