---
siteName: Game Navigator
---
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>{{siteName}} | {{ title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/card.css">
 </head>
 <body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav-basic.njk" %}
  </header>
  <main class="{{ pageClass }}">{{ content | safe }}</main>

  <section class="footer">
          <figcaption class="caption">
            <p>© 2023 by Game Recommendation</p>
             <a href="https://www.iconfinder.com/search?q=xbox">Xbox icon</a>
             <a href="https://www.iconfinder.com/search?q=PC+Game">PC icon</a>
             <a href="https://www.iconfinder.com/search?q=switch+nintendo">Switch icon</a>
             <a href="https://www.iconfinder.com/search?q=playstation">Playstation icon</a>
             <a href="https://commons.wikimedia.org/wiki/File:Xbox_One_gamepads,_gaming_keyboard_and_mouse.jpg">Banner</a>
             <a href="https://www.wallpaperflare.com/search?wallpaper=gaming+mouse">Pc image</a>
             <a href="https://pixabay.com/photos/controller-gaming-playstation-6092067/">Ps image</a>
             <a href="https://www.ctrl.blog/entry/download-episodic-xbox.html">Xbox image</a>
             <a href="https://www.wallpaperflare.com/close-up-photography-of-nintendo-switch-neon-green-controller-nintendo-switch-gamepad-on-black-top-wallpaper-zturp">switch image</a>
          </figcaption>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!--    Load Local version if CDN is not working-->
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.6.3.min.js"><\/script>')</script>
    <!-- Site JavaScript file -->
  <script src="/js/icon.js"></script>
 </body>
</html>