/* Base Styling for headings  */
  h1{
    font-size: 1.5em;
    font-family: 'Lobster', cursive;;
  }


  a{
    text-decoration: none;
  }

/* Basic Responsive Images and Video
================================================== */
img,video{
  width: auto;
  height: auto;
  max-width: 100%;
}


/* Basic responsive Layout
================================================== */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.grid {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.grid-select{
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

}

@media screen and (min-width: 600px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .grid .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px){
  .grid-select{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* end min-width: 1200px */

/* =================================================
   Basic Color
  ================================================== */



/* ===================================================
   CARDS
  ================================================== */
.card{
  background-color:#5085C3;
  border-radius: 0.4rem;
/*   border: 1px solid grey; */
/*   padding: 20px; */
  overflow: hidden;
  box-shadow: 8px 5px 30px 0px rgba(0,0,0,0.44);
-webkit-box-shadow: 8px 5px 30px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 8px 5px 30px 0px rgba(0,0,0,0.44);
}

h1, h2{
  color:#333;
  text-align: center;
/*   margin-left: 6px; */
}

.card__img {
  display: block;
  width: 100%;
/*   padding: 5px; */
}



.card__btn{
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #C3ACD0;
  background-color:#00235B;
  border-radius: 0.6em;
  border: 0px;
}
.card__btn strong{
  font-family: 'Oleo Script', cursive;
}

/*   margin-left: 6px; */


a:hover {
  color:#FF0303;
}


.card__content{
  padding: 20px 40px 20px 40px;
  font-family: 'Oleo Script', cursive;
}
