@use 'normalize';
@use 'responsive';
@use 'typography';
@use 'layout';
@use 'nav';
@use 'card';

// If you add another partial then make sure to:
//    1. Put an underscore _ at the beginning of the name and end with .scss
//    2. add an @use above to include it. DO not add the .scss

/* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */

@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Ballet&family=Birthstone&family=Bungee+Outline&family=Dosis:wght@300&family=Poppins:wght@100;200;300;600;900&family=Yaldevi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,500&family=Lobster&family=Oleo+Script&family=Rowdies:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    font-size: 1rem;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background-color: #FEFAE0;
  }


  /* Basic Responsive Images and Video */
  img,video{
    width: auto;
    height: auto;
    max-width: 100%;
  }


  /* Embedded Video Styles
      These can be used to help add embedded video content, like YouTube videos, to your page.
      These styles require you set up your HTML in a specific way.
      See this CodePen for an example of it in use: http://codepen.io/profstein/pen/mArLRj
  */

  .videoWrapper {
      position: relative;
      padding-top: 25px;
      height: 0;
  }

  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 aspect ratio video */
  }

  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 aspect ratio video */
  }

  .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  p{
    font-family: 'Lobster', cursive;
  }

  h2{
    font-family: 'Oleo Script', cursive;
  }


  .footer p {
    text-align: center;
    margin-top: 5%;
   }

.caption{
  text-align: center;
  font-family:'Oleo Script', cursive;
}
.intro{
  text-align: center;
  font-size: 30px;
  font-family:Oleo Script;
}

.intro-main{
  text-align: center;
  font-size: 50px;
  font-family:Oleo Script;
}


/* This adds space between paragraphs and list items*/
/* NOTE: most Navigations use list items so you will need to explicity set the margins on those so this rule doesn't mess up your navigation styling */

/* Basic Responsive Images and Video
================================================== */
img,video{
  width: auto;
  height: auto;
  max-width: 100%;
}


.grid-1{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
}


.figcaption{
  font-size: 1rem;
}

.caption a{
   margin: 10px;
}

ul{
  list-style-type: none;
}

.card__text{
  text-align: center;
}

.card__img-1{
  padding: 10px;
}
.card__img{
  cursor: pointer;
  text-align: center;
}

.card__content-m ul{
  font-family: 'Oleo Script', cursive;
}






@media screen and (min-width: 600px){
  .grid-1{
    grid-template-columns: 1fr 1fr;
  }
  .grid-1 .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid-1{
    grid-template-columns: 1fr 1fr;
  }
}

.grid-t{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 1%;
}




@media screen and (min-width: 600px){
  .grid-t{
    grid-template-columns: 1fr 1fr;
  }
  .grid-t .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid-t{
    grid-template-columns: 1fr 1fr;
  }
}

.grid-s{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 1%;
}




@media screen and (min-width: 600px){
  .grid-s{
    grid-template-columns: 1fr 1fr;
  }
  .grid-s .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid-s{
    grid-template-columns: 1fr 1fr;
  }
}

.grid-w{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 1%;
}




@media screen and (min-width: 600px){
  .grid-w{
    grid-template-columns: 1fr 1fr;
  }
  .grid-w .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid-w{
    grid-template-columns: 1fr 1fr;
  }
}

.grid-m{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 1%;
}




@media screen and (min-width: 600px){
  .grid-m{
    grid-template-columns: 1fr 1fr;
  }
  .grid-m .section-head{
    grid-column: 1/-1;
  }
}
/* end min-width: 600px */


@media screen and (min-width: 1200px){
  .grid-m{
    grid-template-columns: 1fr 1fr;
  }
}
/* end min-width: 1200px */

/* =================================================
   Basic Color
  ================================================== */


/* ===================================================
   CARDS
  ================================================== */

  /* ==========================================================================
     Your CSS
     You can change this comment and add in your own CSS below 
     ==========================================================================*/



